.footer {
  width: 100%;
  height: 15.99%;
  display: flex;
  justify-content: center;
}
.tomate {
  color: hsl(9, 83%, 63%);
}

.footer__container {
  border-top: 0.0001rem solid hsla(0, 0%, 33%, 0.407);
  width: 93%;
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;

  .footer__media {
    h3 {
      color: #2b2b2b;
      font-family: var(--ff-title);
      font-size: 1.4rem;
    }
    span {
      a {
        &:hover {
          color: #18a4a6;
        }
      }
    }
  }
  .footer__sig {
    line-height: 1.8rem;
    span {
      a {
        &:hover {
          color: #18a4a6;
        }
      }
    }
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #2b2b2b;
  transition: transform 0.4s ease-out;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #18a4a6;
  transform-origin: bottom right;
  transition: transform 0.4s ease-in-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
