.footer {
  width: 100%;
  height: clamp(25rem, 25rem, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem !important;

  .footer__container {
    border-top: 0.0001rem solid hsla(0, 0%, 33%, 0.407);
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .footer__media {
      padding: 3rem 0.5rem !important;

      h3 {
        color: var(--foreground) !important;
        font-family: var(--ff-title);
        font-size: 1.4rem;
      }
      span {
        color: var(--foreground) !important;

        a {
          &:hover {
            color: var(--ascent-color);
          }
        }
      }
      @media screen and (max-width: 768px) {
        padding: 1.5rem 0.5rem !important;
      }
    }
    .footer__sig {
      padding: 3rem 0.5rem !important;
      line-height: 1.8rem;
      color: var(--foreground);

      span {
        color: var(--foreground);
        a {
          &:hover {
            color: var(--ascent-color);
          }
        }
      }
      @media screen and (max-width: 768px) {
        padding: 1rem 0.5rem !important;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.tomate {
  color: var(--ascent-color);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--foreground);
  transition: transform 0.4s ease-out;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--ascent-color);
  transform-origin: bottom right;
  transition: transform 0.4s ease-in-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
