.header {
  margin: 5rem 0;
  width: 100%;
  min-height: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header__img_container {
  width: clamp(30rem, 40rem, 80%);
  display: flex;
  align-items: center;
  justify-content: flex-end;

  div {
    position: relative;
    background: url("../../assets/images/Background_green.png") no-repeat;

    background-size: cover;
    border-radius: 50% !important;
    margin: 0 auto;
    transition: all ease-in-out 0.1s;
    opacity: 0.95;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      width: clamp(450px, 520px, 50%);
      -webkit-transform: translate(-50%, -50%) translateZ(50px);
      -moz-transform: translate(-50%, -50%) translateZ(50px);
      -ms-transform: translate(-50%, -50%) translateZ(50px);
      -o-transform: translate(-50%, -50%) translateZ(50px);
      transform: translate(-50%, -50%) translateZ(50px);
    }
  }
}

.header__info {
  width: clamp(30rem, 50%, 80%);

  .header__tagline {
    margin: 0;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .header__tagline-title {
      h1,
      h2 {
        font-family: var(--ff-title);
        font-size: 7rem;
        letter-spacing: 1px;
      }

      @media screen and (max-width: 1299px) {
        h1 {
          font-size: 5.5rem;
        }
      }
      @media screen and (max-width: 500px) {
        h1 {
          font-size: 4.5rem;
          margin-block-start: 0.83em;
          margin-block-end: 0em;
        }
      }
      @media screen and (max-width: 400px) {
        h1 {
          font-size: 3.5rem;
          margin-block-start: 0.83em;
          margin-block-end: -1.1em;
        }
      }
    }

    .header__tagline-description {
      margin-top: -4.9rem;
      width: clamp(30rem, 39rem, 80%);

      p {
        font-family: var(--ff-body);
        font-size: 1.2rem;
        line-height: 2em;
        color: var(--foreground);
        span {
          font-family: var(--ff-title);
          font-size: 1.8rem;
          font-weight: 700;
          color: var(--foreground);
        }
      }
      @media screen and (max-width: 1299px) {
        p {
          font-size: 1.1rem;
          line-height: 2em;
          span {
            font-size: 1.5rem;
          }
        }
      }

      @media screen and (max-width: 500px) {
        margin-top: 0;
        width: 390px;
        p {
          margin-top: 1rem !important;
          font-size: 1.1rem;
          line-height: 2em;
          span {
            margin-top: 3rem;
            font-size: 1.5rem;
          }
        }
      }

      @media screen and (max-width: 400px) {
        width: 300px;
        margin-top: 0;
        margin-block-end: -2.1em;

        p {
          margin-top: 1rem !important;
          font-size: 1rem;
          line-height: 2em;
          span {
            margin-top: 3rem;
            font-size: 1.5rem;
          }
        }
      }
    }

    .header__tagline-buttons {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-top: 1.5rem;

      .pipe {
        width: 3px;
        height: 35px;
        border-right: 1px solid hsla(0, 0%, 33%, 0.407);
        padding: 0 0.25em;
      }

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 3rem;

        a {
          font-size: 1.5rem;
          width: 100%;
          transition: all 0.3s ease-in-out;
          &:hover {
            cursor: pointer;
            color: var(--ascent-color);
          }
        }

        @media screen and (max-width: 1299px) {
          a {
            font-size: 1.4rem;
          }
        }

        @media screen and (max-width: 500px) {
          margin: 0 1rem;

          a {
            font-size: 1.3rem;
          }
        }

        @media screen and (max-width: 400px) {
          margin: 0 1rem;

          a {
            font-size: 1.1rem;
          }
        }
      }
      .zero-margin {
        margin-left: 0;
      }

      @media screen and (max-width: 500px) {
        justify-content: center;
        padding-top: 0;
      }
    }

    // Main area
    @media screen and (max-width: 500px) {
      align-items: center;
    }

    @media screen and (max-width: 400px) {
      width: 350px;
      margin-left: 2rem;
      padding: 0;
      gap: 3.5rem;
    }
    @media screen and (max-width: 369px) {
      margin-left: 1rem;
    }
  }

  //end
}
