.app {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;

  @media screen and (max-width: 375px) {
    overflow-y: hidden;
  }
}

.center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.instructions {
  font-size: 0.68rem;
  border-radius: 0.5rem;
  background: transparent;
  color: hsl(0, 0%, 44%);
  padding: 0.25rem;
  bottom: -10px;
}

.contact__error {
  color: #fa0e0ec1;
  font-weight: 600;
  font-size: 0.68rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
