$ff-body: "Inter", sans-serif;
$ff-title: "Work Sans", sans-serif;

/*Light Theme*/
$lt-bg-gradient: linear-gradient(
  to top left,
  hsl(0, 0%, 95%),
  hsl(214, 8%, 83%)
) !important;
$lt-text-color: hsl(0, 71%, 48%);
$lt-ascent-cyan: hsl(181, 75%, 37%);
// hsl(0, 0%, 17%);
/*Dark Theme*/
$dt-bg-gradient: linear-gradient(to top left, #021112, #073031) !important;
$dt-text-color: hsl(214, 8%, 83%);
$dt-ascent-gold: hsl(37, 98%, 53%);

:root {
  --ff-body: #{$ff-body};
  --ff-title: #{$ff-title};

  /*Light Theme*/
  --lt-bg-gradient: #{$lt-bg-gradient};
  --lt-text-color: #{$lt-text-color};
  --lt-ascent-cyan: #{$lt-ascent-cyan};

  /*Dark Theme*/
  --dt-bg-gradient: #{$dt-bg-gradient};
  --dt-text-color: #{$dt-text-color};
  --dt-ascent-gold: #{$dt-ascent-gold};
}

/*=======================================
==> General Dark and Light Mode classes 
=========================================*/

.light-mode {
  --background: var(--lt-bg-gradient) !important;
  --foreground: var(--lt-text-color) !important;
  --ascent-color: var(--lt-ascent-cyan) !important;
}

.dark-mode {
  --background: var(--dt-bg-gradient) !important;
  --foreground: var(--dt-text-color) !important;
  --ascent-color: var(--dt-ascent-gold) !important;
}

.app {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;

  @media screen and (max-width: 375px) {
    overflow-y: hidden;
  }
}

.center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.instructions {
  font-size: 0.68rem;
  border-radius: 0.5rem;
  background: transparent;
  color: hsl(0, 0%, 44%);
  padding: 0.25rem;
  bottom: -10px;
}

.contact__error {
  color: #fa0e0ec1;
  font-weight: 600;
  font-size: 0.68rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
