@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");

:root {
  --main-dark-gray-bg: hsl(0, 0%, 17%);
  --main-light-gray-bg: hsl(0, 0%, 95%);
  --title-light-gray-color: hsl(0, 0%, 17%);
  --title-dark-gray-color: hsl(0, 0%, 33%);
  --green-highlight-color: hsl(181, 75%, 37%);

  /* --dark-mode-bg: linear-gradient(to top left, #021011, #073132); */

  --dark-mode-bg: linear-gradient(to top left, #f3f3f3, #cfd2d6) !important;
  --background: var(--dark-mode-bg);
  --foreground: var(--title-light-gray-color);
  --ff-body: "Inter", sans-serif;
  --ff-title: "Work Sans", sans-serif;
}

/*=======================================
==> General Dark and Light Mode classes 
=========================================*/
.dark-mode {
  background: linear-gradient(to top left, #021011, #073132) !important;
  color: var(--main-light-gray-bg) !important;
  transition: all 0.5s;
  --main-dark-gray-bg: #2b2b2b;
  --main-light-gray-bg: #f3f3f3;
  --title-light-gray-color: #9e9d9d;
  --title-dark-gray-color: #545454;
  --gold-highlight-color: #fca311;
  --dark-mode-bg: linear-gradient(to top left, #000000, #545454);
  --background: var(--dark-mode-bg);
  --foreground: var(--title-light-gray-color);
}

.light-mode {
  --title-dark-gray-color: #545454;
  --light-mode-bg: linear-gradient(to top left, #f3f3f3, #cfd2d6) !important;
  --foreground: var(--title-dark-gray-color);
  --background: var(--light-mode-bg);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-body);
  background: var(--background);
  color: var(--foreground);
  -webkit-touch-callout: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h2,
h3 {
  color: var(--foreground);
}

li,
a {
  list-style: none;
  text-decoration: none;
  -webkit-transition: 0.25ms;
  transition: 0.25ms;
  color: var(--foreground);
}

a:hover {
  color: var(--gold-highlight-color);
}

#root {
  margin: 0;
  padding: 0;
  width: 99.9%;
  min-height: 100vh;
  will-change: transform, opacity;
}

#root::-moz-selection {
  background: var(--foreground);
}

#root::selection {
  background: var(--foreground);
}

#root::-moz-selection {
  background: var(--foreground);
  color: var(--background);
}
