@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");

:root {
  --main-dark-gray-bg: hsl(0, 0%, 17%);
  --main-light-gray-bg: hsl(0, 0%, 95%);
  --title-light-gray-color: #2b2b2b;
  --title-dark-gray-color: hsl(0, 0%, 33%);
  --green-highlight-color: hsl(181, 75%, 37%);
  --gold-highlight-color: hsl(37, 98%, 53%);

  --ff-body: "Inter", sans-serif;
  --ff-title: "Work Sans", sans-serif;

  // Light Theme
  --lt-bg-gradient: linear-gradient(
    to top left,
    hsl(0, 0%, 95%),
    hsl(214, 8%, 83%)
  ) !important;
  --lt-text-color: hsl(0, 0%, 17%);
  --lt-ascent-cyan: hsl(181, 75%, 37%);

  // Dark Theme
  --dt-bg-gradient: linear-gradient(
    to top left,
    hsl(184, 79%, 4%),
    hsl(181, 75%, 11%)
  ) !important;
  --dt-text-color: hsl(214, 8%, 83%);
  --dt-ascent-gold: hsl(37, 98%, 53%);
}

/*=======================================
==> General Dark and Light Mode classes 
=========================================*/

.light-mode {
  --background: var(--lt-bg-gradient) !important;
  --foreground: var(--lt-text-color) !important;
  --ascent-color: var(--lt-ascent-cyan) !important;
}

.dark-mode {
  --background: var(--dt-bg-gradient) !important;
  --foreground: var(--dt-text-color) !important;
  --ascent-color: var(--dt-ascent-gold) !important;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-body);
  -webkit-touch-callout: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h2,
h3 {
  color: var(--foreground) !important;
}

li,
a {
  list-style: none;
  text-decoration: none;
  -webkit-transition: 0.25ms;
  transition: 0.25ms;
  color: var(--foreground);
}

// a:hover {
//   color: var(--gold-highlight-color);
// }

// #root {
//   margin: 0;
//   padding: 0;
//   width: 99.9%;
//   min-height: 100vh;
//   will-change: transform, opacity;
// }

// #root::-moz-selection {
//   background-color: var(--foreground) !important;
// }

// #root::selection {
//   background-color: var(--foreground) !important;
// }

// #root::-moz-selection {
//   background-color: var(--foreground) !important;
//   color: var(--background) !important;
// }
